{
    "start_date": "2017-11-02T00:00:00Z",
    "account_id": "285539825210",
    "bucket": "hmn-pipeline-raw",
    "role_name": "admin-hmn",
    "external_id": "",
    "tables": "[\n    {\n        \"search_prefix\": \"testing\/raw-data\",\n        \"search_pattern\": \"profile_scores\\\/.*\\\\.csv\",\n        \"table_name\": \"profile_scores\",\n        \"key_properties\": \"assessment_id\",\n        \"date_overrides\": \"start_time, end_time\",\n        \"delimiter\": \",\"\n    }\n]"
}