{
    "start_date": "2017-11-02T00:00:00Z",
    "account_id": "285539825210",
    "bucket": "hmn-pipeline-raw",
    "role_name": "admin-hmn",
    "external_id": "",
    "tables": [
        {
            "search_prefix": "testing/raw-data/htms",
            "search_pattern": "profile_scores\/.*\\.csv",
            "table_name": "profile_scores",
            "key_properties": "id_hbdi",
            "delimiter": ","
        }
    ],
    "disable_collection": true
}